
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0; 
font-size: 100%;  
font: inherit;  
vertical-align: baseline;
box-sizing:border-box;
max-width: 100%;

border: 1px solid grey; 
}

html {
    font-size: 62.5%;
    font-family: 'Roboto Mono', monospace;
}



.container {
    width: 900px;
    margin: auto;
}

#plan {
    background-color: #ff764e;
}

#learn {
    background-color: #5ed3eb;
}

#involved {
    background-color: #ffcd69;
}

.links a {
    display: inline-block;
    width: 15%;
    height: 5rem;
    border-radius: 10px;
    margin: 3rem 5rem;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: .5rem 2.0rem; 
    vertical-align: middle;
    font-size: 1.3rem;
}

.links {
    text-align: center;
}

h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 5rem;
}

#headerimg {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin-left: 5rem;
}

.header-text {
    width: 40%;
    text-align: center;
}

.main-text {
    background-color: #ddb9a3;
    margin: 0 4rem;
    text-align: center;
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
}

#fire-image {
    height: 100px;
    width: 100px;
    align-content: center;
}

.fire-text {
    width: 25%;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 0;
}

#van-image {
    height: 100px;
    width: 100px;
}

.van-text {
    width: 25%;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 0;
}

strong {
    font-weight: bold;
}

#footerimg {
    width: 100%;
    height: auto;
}

footer {
    background-color: #f9e7dc;
}